NODE_ENV=development
PORT=3000
JWT_SECRET=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
FRONTEND_URL=
OIDC_ISSUER=
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URI=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
APPLICATIONINSIGHTS_CONNECTION_STRING=