NODE_ENV=
PORT=
JWT_SECRET=
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
FRONTEND_URL=
MINDX_ISSUER=
MINDX_CLIENT_ID=
MINDX_CLIENT_SECRET==
MINDX_REDIRECT_URI=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
APPLICATIONINSIGHTS_CONNECTION_STRING=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB_NAME=
DATABASE_URL=
